/* general */

* {
	padding: 0;
	margin: 0;
	border: 0;
	}

* {
	box-sizing: border-box;
	}

img,
embed,
object,
video {
	max-width: 100%;
	height: auto;
}


body {
	background: #ffffff 
	}


/* TODO: get rid of whitespace on top */
.page-container {
	width: 100%;
	max-width: 1600px;
	height: 100%;
	margin: 0 auto;
	background-image: url(../img/tischherz_hell_50_80.jpg);
	background-attachment: fixed;
	background-size: cover;
	}




/* fonts */

a  {
	color: #666;
	}

p,
h1,
h2,
h3,
h4,
h5  {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 2em;
	}
h2 {
	font-size: 1.1em;
	}
h3 {
	font-size: 1.0em;
	}
p {
	font-size: 0.8em;
	}


@media screen and (min-width: 450px) {
	h1 {
		font-size: 2.7em;
		}
	h2 {
		font-size: 1.5em;
		}
	}

@media screen and (min-width: 700px) {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.8em;
		}
	p {
		font-size: 0.9em;
		}
	}

	@media screen and (min-width: 1200px) {
	h1 {
		font-size: 3.4em;
	}
	h2 {
		font-size: 2em;
		}
	}



/* header */


.head-container {
	display: flex;
	height: 80px;
	width: 95%;
	margin: auto;
	border-bottom: 4px solid #3de;
	margin: 12px auto;
	align-items: flex-end;
	justify-content: space-between;
}

@media screen and (min-width: 450px){
	.head-container {
	height: 150px;
	}
}

#logo {
	width: 20%;
	height: 100%;
}

#logo img {
	height: 100px;
	width: 50px;
	vertical-align: bottom;
	margin-top: -5px;
}

@media screen and (min-width: 450px){
	#logo img {
	height: 150px;
	width: 75px;
	margin-top: 22px;
	}
}

#header-text {
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

#name {
	text-align: right;
	vertical-align: bottom;
}

#subline {
	height: 50px;
	text-align: right;
	vertical-align: bottom;
}


/* main */

.main-container {
	display: flex;
	flex-wrap: wrap;
	width: 95%;
	margin: auto;
}

.image-block {
	width: 100%;
	margin: 2% 0;
	background-color: #fff;
	border-radius: 12px;
}

@media screen and (min-width: 600px) {
	.image-block {
		width: 46%;
		margin: 2%;
	}
}

@media screen and (min-width: 900px) {
	.image-block {
		width: 29%;		
	}
}

.portfolio-pic {
	width: 100%;
	height: auto;
	border-radius: 12px 12px 0 0;
}

.portfolio-text {
	width: 100%;
	padding: 8px;

}

/* footer */

footer {
	background-color: #fff;
}
